@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot'); /* IE9*/
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */ url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.dtop {
  margin-top: 20px;
}

/*梦幻百科左边*/
.dmhbk {
  width: 100%;
}

.dbkl {
  width: 190px;
  height: 380px;
  background-color: #445366;
  margin-right: 20px;
}

.dbkl h4 {
  width: 150px;
  height: 60px;
  font-size: 20px;
  color: #b3bed2;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #e8e8e8;
  text-align: center;
  margin-left: 20px;
}

.dbkl ul {
  margin-left: 15px;
}

.dbkl ul li {
  width: 75px;
  height: 50px;
  line-height: 50px;
  float: left;
  line-height: 50px;
  font-size: 14px;
  margin-left: 10px;
}

.dbkl ul li a {
  color: #b3bed2;
}

.dbkl div a {
  float: left;
  width: 148px;
  height: 32px;
  line-height: 32px;
  border: solid 1px #576576;
  color: #b3bed2;
  font-size: 14px;
  text-align: center;
  margin-left: 20px;
  margin-top: 5px;
}

.dbkl a:hover {
  color: #fff;
}

.dbkl input {
  width: 140px;
  height: 32px;
  background-color: #445366;
  border: solid 1px #808a97;
  color: #b3bed2;
  margin: 13px 20px;
  font-size: 14px;
  padding-left: 8px;
}

.dbkl .text {
  position: relative;
}

.dbkl #dbkl_i {
  font-family: iconfont;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  color: #b3bed2;
  top: 15px;
  right: 28px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.dbkr {
  width: 230px;
  height: 379px;
  background-color: #fff;
  margin-left: 20px;
}

/*JS点击弹出背景跟盒子*/
.dbkssbg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  display: none;
  z-index: 2;
}

.dbkssbox {
  width: 480px;
  height: 250px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  margin-top: -180px;
  overflow: hidden;
}

#dbkssbox_close {
  font-family: iconfont;
  width: 56px;
  height: 52px;
  font-size: 24px;
  color: #fff;
  background-color: #0099cc;
  float: right;
  line-height: 60px;
  text-align: left;
  padding-left: 10px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -30px;
  cursor: pointer;
}

#dbkssbox_qd {
  width: 120px;
  height: 50px;
  background-color: #0099cc;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 330px;
  cursor: pointer;
}

#dbkssbox_p {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 50px;
  color: #333;
}

/*梦幻百科中间*/
.dbkm {
  width: 440px;
  height: 380px;
  background-color: #fff;
  padding-left: 20px;
  position: relative;
}

.dbkm .top {
  width: 420px;
  height: 60px;
  border-bottom: solid 1px #e8e8e8;
}

.dbkm .top h4 {
  font-size: 22px;
  color: #333;
  line-height: 60px;
}

.dbkm .top span {
  width: 50px;
  font-size: 14px;
  color: #333;
  margin-top: 20px;
  position: absolute;
  left: 390px;
  cursor: pointer;
}

.dbkm .middle li {
  float: left;
  width: 70px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
}

.dbkm .bottom {
  padding-left: 20px;
  display: none;
}

.dbkm .bottom1 {
  display: block;
}

.dbkm .bottom li {
  width: 380px;
  height: 38px;
  border-bottom: dotted 1px #dadada;
  line-height: 38px;
  font-size: 14px;
  cursor: pointer;
}

.dbkm .bottom li:hover a {
  color: red;
}

.dbkm .bottom li a {
  color: #3c3c3c;
}

.bottom_li1 {
  color: red !important;
}

#dbkm_bottom_box .jian {
  margin-top: 6px;
  margin-right: 10px;
  float: left;
  text-align: center;
  width: 40px;
  height: 24px;
  line-height: 24px;
  background-color: #f24854;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.dbkm #line {
  width: 70px;
  border-top: 2px solid red;
  position: absolute;
}

/*梦幻百科中间小模块*/
.dbkr {
  width: 210px;
  height: 379px;
  background-color: #fff;
  margin-left: 20px;
  position: relative;
  padding-left: 20px;
}

.dbkr .top h4 {
  font-size: 22px;
  color: #333;
  line-height: 60px;
}

.dbkr1 .top span {
  width: 72px;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  position: absolute;
  left: 140px;
  cursor: pointer;
}

.dbkr .top {
  width: 190px;
  height: 60px;
  border-bottom: solid 1px #e8e8e8;
}

.dbkr .dbkr_ul li {
  width: 190px;
  height: 76px;
  padding: 15px 0;

}

.dbkr .dbkr_ul img {
  float: left;
  margin-right: 20px;
}

.dbkr .dbkr_ul p {
  color: #3c3c3c;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dbkr .dbkr_ul a {
  color: #333;
  font-size: 14px;
}

.dbkr .dbkr_ul span {
  color: #f24854;
}

/*梦幻百科右边模块*/
.dbkr2 .top span {
  width: 70px;
  font-size: 14px;
  color: #333;
  margin-top: 20px;
  position: absolute;
  left: 170px;
  cursor: pointer;
}

.dbkr .dbkr2_ul img {
  border-radius: 50%;
}

.dbkr2 {
  position: relative;
}

.dbkr2_img {
  width: 300px;
  height: 320px;
  position: absolute;
  overflow: hidden;
  left: -290px;
  border-radius: 50%;
  display: none;
}

.dbkr .dbkr2_img li {
  float: left;
}

.dbkr .dbkr2_img ul {
  position: absolute;
  width: 700%;
}

.dbkr .dbkr2_img img {
  width: 300px;
}

.dbkr2_img span {
  position: absolute;
  width: 150px;
  height: 320px;
  cursor: pointer;
}

#dbkr2_img_left {
  left: 0;
  border-radius: 200px 0 0 200px;
}

#dbkr2_img_right {
  right: 0;
  border-radius: 0 200px 200px 0;
}

#dbkr2_img_left img, #dbkr2_img_right img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 45%;
  display: none;
}

#dbkr2_img_left img {
  left: 10px;
}

#dbkr2_img_right img {
  right: 10px;
}

.dbkr2_img_close {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: skyblue;
  line-height: 30px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  top: 75px;
  left: -45px;
  border-radius: 50%;
  display: none;
  z-index: 2;
  cursor: pointer;
}

/*赛事信息板块*/
.w .dss {
  width: 190px;
  height: 360px;
  padding-top: 20px;
}

.dss .dssl_t {
  margin-left: 18px;
}

.dss .dssl_t i {
  float: left;
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.dssl_t .di1 {
  background: url("../imgs/index_z_92e9295.png") no-repeat -330px -288px;
}

.dssl_t .di2 {
  background: url("../imgs/index_z_92e9295.png") no-repeat -172px -288px;
  opacity: .3;
}

.dssl_t .di3 {
  background: url("../imgs/index_z_92e9295.png") no-repeat 0px -331px;
  opacity: .3;
}

.dssl_t .di4 {
  background: url("../imgs/index_z_92e9295.png") no-repeat -298px -288px;
  opacity: .3;
}

.dewm div {
  width: 190px;
  height: 170px;
  display: none;
}

.dewm .dewm_div1 {
  display: block;
}

.dss .dssl_t {
  margin-bottom: 30px;
}

.dewm img {
  margin-left: 30px;
}

.dewm .dewm_img3 {
  margin-left: 60px;
}

.dewm p {
  color: #8d99ac;
  text-align: center;
  height: 22px;
  line-height: 22px;
}

.dewm .dsp1 {
  display: block;
  height: 32px;
  color: #8d99ac;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  line-height: 32px;
}

.dewm .dsp2 a {
  display: block;
  width: 140px;
  height: 32px;
  color: #8d99ac;
  border: 1px solid #788391;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  margin-left: 25px;
}

.dewm .dsp2 a:hover {
  color: #fff;
}

.dss p a {
  color: #8d99ac;
  font-size: 14px;
  display: block;
  width: 150px;
  height: 32px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 5px;
}

/*赛事信息中间模块*/
.dbkm .dmiddle {
  position: relative;
}

.dbkm .dmiddle li {
  width: 100px;
  height: 60px;
  float: left;
  text-align: center;
  line-height: 45px;
  font-size: 14px;
}

.dbkm .dmiddle span {
  width: 100px;
  border-top: 2px solid red;
  position: absolute;
}

.dbkm .dbig {
  width: 260px;
  height: 236px;
  float: left;
}

.dbkm .dsmall {
  width: 150px;
  height: 113px;
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.dbkm .dsmall img {
  width: 150px;
}

.dmiddle1 {
  display: none;
}

.dbkm .dmidshow {
  display: block;
}

.dbig, .dsmall {
  position: relative;
}

.dmiddle1 p {
  width: 260px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 10px;
}

.dmiddle1 .dsmall span {
  width: 110px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 4px;
  margin-left: 20px;
  overflow: hidden;
}

/*赛事信息右边*/
.dssxxr {
  width: 480px;
  height: 380px;
  background-color: #fff;
}

.dssxxr .dtop {
  width: 480px;
  height: 216px;
  position: relative;
}

.dssxxr .dup {
  width: 376px;
  height: 190px;
  position: absolute;
  right: 20px;
  overflow: hidden;
}

.dssxxr .dtop h4 {
  width: 24px;
  height: 104px;
  position: absolute;
  line-height: 24px;
  color: #333;
  font-weight: 700;
  top: 50px;
  left: 33px;
  font-size: 24px;
  width: 24px;
  text-align: center;
}

.dssxxr .dup ul {
  width: 500%;
  position: absolute;
  top: 0;
  left: 0;
}

.dssxxr .dup li {
  float: left;
  position: relative;
}

.dssxxr .dup .dup_li {
  display: block;
}

.dssxxr .ddown {
  position: absolute;
  bottom: 0;
}

.dssxxr .ddown a {
  float: left;
  width: 94px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #8b8989;
  font-weight: 600;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2;
}

.dssxxr .ddown .ddown_a {
  background-color: #3b8bed;
  color: #fff;
}

.dssxxr .ddown i {
  float: left;
  width: 1px;
  height: 10px;
  border-right: 1px solid #8b8989;
  position: absolute;
  top: 15px;
}

.ddown .ddownl1 {
  left: 94px;
}

.ddown .ddownl2 {
  left: 188px;
}

.ddown .ddownl3 {
  left: 282px;
}

.dssxxr .dtop h4 i {
  position: absolute;
  width: 1px;
  height: 40px;
  border-right: 1px solid #ccc;
}

.dssxxr .dline1 {
  top: -50px;
}

.dssxxr .dline2 {
  bottom: -38px;
}

.dup_ul li span {
  width: 104px;
  height: 22px;
  background-color: red;
  position: absolute;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  top: 100px;
  left: 20px;
  font-size: 14px;
  display: none;
}

.dup .dup_ul .dup_li span {
  display: block;
}

.dbot {
  width: 480px;
  height: 144px;
  overflow: hidden;
}

.dbot ul {
  margin-top: 1px;
  padding-left: 1px;
  width: 481px;
  height: 143px;
  background-color: #eaf1fa;

}

.dbot li {
  float: left;
  width: 95px;
  height: 71px;
  text-align: center;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.dbot li i {
  float: left;
  width: 28px;
  height: 40px;
  margin-left: 32px;
  margin-top: 16px;
  position: relative;
}

.dbot li span {
  float: left;
  width: 28px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 38px;
  left: 0px;
  display: none;
}
