
.qt{
    /*animation: play05 1.4s infinite;*/

}
@-webkit-keyframes play05 {
    0% {
        transform:translate(0px,0px);
    }
    25% {
        transform:translate(-200px,0);
    }
    50% {
        transform:translate(-200px,-200px);
    }
    75% {
        transform:translate(0,-200px);
    }
    100% {
        transform:translate(0px,0px);
    }
}

.qt {
    position: absolute;
    width: 200px;
    height: 180px;
    left: 50%;
    margin-left: -398px;
    top: 352px;
    background-image: url("../img/west_01_3ca39fe.png");
    background-repeat: no-repeat;
    animation: play01 1.4s steps(8) infinite;
}


@-webkit-keyframes play01 {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -1600px 0
    }
}


.bj {
    position: absolute;
    width: 200px;
    height: 180px;
    left: 50%;
    margin-left: -198px;
    top: 356px;
    background-image: url("../img/west_02_47bad19.png");
    background-repeat: no-repeat;
    animation: play02 1.4s steps(8) infinite;
}

@-webkit-keyframes play02 {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -1600px 0
    }
}


.sz {
    position: absolute;
    width: 170px;
    height: 240px;
    left: 50%;
    margin-left: -11px;
    top: 326px;
    background-image: url("../img/west_03_f962447.png");
    background-repeat: no-repeat;
    animation: play03 1.4s steps(8) infinite;
}

@-webkit-keyframes play03 {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -1360px 0
    }
}

.ss {
    position: absolute;
    width: 210px;
    height: 200px;
    left: 50%;
    margin-left: 198px;
    top: 347px;
    background-image: url("../img/west_04_6516d80.png");
    background-repeat: no-repeat;
    animation: play04 1.4s steps(8) infinite;
}

@-webkit-keyframes play04 {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -1680px 0
    }
}

