.e{
    height: 230px;
    /*background-color: aquamarine;*/
    margin-top:20px;
}
/*角色show*/
 .e .as{
    width:190px;
    line-height:30px;
    height:230px;
    margin-right:20px;
    padding:85px 0;
    color:#fff;
    font-size: 24px;
    text-align:center;
    font-weight: 400;
    background:#3b8bed url("../img/index_z_92e9295.png") no-repeat 0 0;
    opacity:0.9;
}

/*人物列表：*/
.e>div{
    width:960px;
    height:230px;
}
.e>div>ul{
    /*position: relative;*/
}

.e .grup{
    width: 819px;
    height: 230px;
    position: relative;
    overflow: hidden;
}
#rz{
    /*left: 0%;*/
    /*top: 0;*/
 }
#mz{
    /*left:820px;*/
    /*top: 0;*/
    width:70px ;
    margin-left:-2px;
}
#xz{
    /*left:890px;*/
    /*top: 0;*/
    width:70px;
    background-color: #0094ff;
    margin-left:1px;
}

.e .pl1{
    width: 70px;
    /*height:230px;*/
    line-height:30px;
    margin-left:3px;
    padding:85px 0;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    background-color:#3b8bed;
    color: #fff;
}
/*人族人物列表*/
.e .grup ul{
    width: 750px;
    height: 230px;
	position: absolute;
    /*overflow: hidden;*/
}
.group-item {
    position: absolute;
    left: 70px;
    width: 750px;
    top: 0;
}

.e .grup li{
    float: left;
    width:60px;
    height: 230px;
    overflow: hidden;
    background-color: #f5f9ff;
	position: relative;

}
#rn>a>img{
	padding:22px 0px;
}
#gxx>a>img{
	padding:17px 0px;
}
#htg>a>img{
	padding:30px 0px 0px 0px;
}
#yls>a>img{
	padding:24px 0px;
}
#tyy>a>img{
	padding:24px 0px;
}
#wtj>a>img{
	padding:20px 8px;
}
#xce>a>img{
	padding:13px 0px;
}
#stb>a>img{
	padding:8px 0px;
}
#stz>a>img{
	padding:17px 0px;
}
#hmr>a>img{
	padding:2px 9px;
}
#gjl>a>img{
	padding:15px 0px;
}


/*.e .grup .show{
    display: block;
    width:450px;
}*/
.e .show div{
    float: left;
    height: 230px;
    width:350px;
    background-repeat:no-repeat;
    position: relative;
    display:none;
}
.e .show div p{
    position: absolute;
    left:160px;
    top: 40px;
    color:#333;
    font-size:16px;
    font-weight:600;
}
.e .show div dl{
    position: absolute;
    left:160px;
    top: 80px;
}
.e .show div dl>dt{
    color:#333;
    font-size:16px;
    font-weight:600;
    margin-bottom:5px;
}
.e .show div dl>dd{
    color:#333;
    float: left;
    font-size:14px;
}
.e .show div dd>a:hover{
    text-decoration: underline;
    color:#333;
}

.e .show>a{
    text-align: center;
    font-size:16px;
    padding:12px 0;
    position: relative;
}
.e .show>a:hover{
    color:#333;
}
.e .show>a .line{
    display: inline-block;
    width:1px;
    height:49px;
    position: absolute;
    top:20px;
    left:-1px;
    background-color: #bfd0e5;

}
.e .show>a>img{
    margin-top: 10px;
    padding:12px 9px;
}
.ss{
    display:block;
}
/*#xys,#fyn,#ynx,#mwomen,#rn{
    width:58px;
    margin-left:1px;


}*/


    /*人物列表内部a标签*/
.e .grup li>a{
    display: block;
    width:58px;
    height:230px;
    float: right;
}




















/*分割线：*/






/*佛祖的胖大腿：*/

.footer{
    margin-top: 20px;
    width:100%;
    height:797px;
    min-height:276px;
    /*padding-top:521px;*/
    position: relative;
    background:url("../img/ft_e43a6db.webp") no-repeat center bottom;
    animation: play06 20s infinite;

}
.footer .wk{
    width:200px;
    height:180px;
    position: absolute;
    left: 50%;
    top:350px;
    margin-left: -427px;
    background:url("../img/west_01_3ca39fe.png") no-repeat;
}
.footer .wn{
    width:200px;
    height:180px;
    position: absolute;
    left: 50%;
    top:350px;
    margin-left: -210px;
    background:url("../img/west_02_47bad19.png") no-repeat;
}
.footer .ts{
    width:170px;
    height:240px;
    position: absolute;
    left: 50%;
    top:326px;
    margin-left:-10px;
    background:url("../img/west_03_f962447.png") no-repeat;
}
.footer .wj{
    width:210px;
    height:200px;
    position: absolute;
    left: 50%;
    top:347px;
    margin-left:200px;
    background:url("../img/west_04_6516d80.png") no-repeat;
}
.footer .share{
    position: absolute;
    left: 50%;
    margin-left:-168px;
    bottom: 234px;
}
.footer .share ul li{
    float:left;
    margin-right: 5px;
    /*margin-left: -200px;*/
}
.footer .share li a>span{
    float: left;
    border-radius:50%;
    display:inline-block;
    margin-right: 5px;
    height:25px;
    width:25px;
    background-repeat:no-repeat;
}
.footer .share li a .weixin{
    background-image:url("../img/wechat.png");
}
.footer .share li a .yixin{
    background-position: -270px -292px;
    background-image:url("../img/index_z_92e9295.png");
}
.footer .share li a .xlweibo{
    background-image:url("../img/sina0.png");
}
.footer .share li a .more{
    background-image:url("../img/more.png");
}

.footer .share>span,.footer .share li a>em{
    font-size:16px;
    color: #666;
    line-height: 30px;
}
.footer .share a:hover em{
    color: #a70d01;
}

/*我是一条分割线*/
.footer .fgx{
    display: inline-block;
    position: absolute;
    width: 900px;
    height:1px;
    left:50%;
    bottom:200px;
    margin-left:-450px;
    background-color: #0094ff;
}

.declaration{
    color: #666;
    position: absolute;
    left:264px;
    bottom: 30px;
}
.declaration p{
    padding:5px 0;
}






